@model LazZiya.ExpressLocalization.DB.Models.XLCulture
@{
    string css = Model.ID.Contains("-") ? $"flag-icon flag-icon-{Model.ID.Split('-')[1].ToLower()}" : "";
    string act = Model.IsActive ? "Disable" : "Enable";
    var dropDownDir = CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "dropright" : "dropleft";
}

<!-- Default dropleft button -->
<div class="btn-group @(dropDownDir)">
    <button type="button" class="btn btn-light border-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-cog"></i>
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" asp-page="Translations" asp-route-cultureId="@(Model.ID)">
            <i class="fas fa-language"></i>
            <localize>Translations</localize>
        </a>
        @if (Model.IsDefault)
        {
            <a class="dropdown-item text-secondary" href="#">
                <i class="fas fa-lock"></i> <localize>Default culture is locked!</localize>
            </a>
        }
        else
        {
            if (!Model.IsActive)
            {
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#activate-@(Model.ID)">
                    <i class="fas fa-check-square"></i>
                    <localize>Enable</localize>
                </a>
            }
            else
            {
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#activate-@(Model.ID)">
                    <i class="far fa-square"></i>
                    <localize>Disable</localize>
                </a>
            }
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#setDefault-@(Model.ID)">
                <i class="fas fa-dot-circle"></i>
                <localize>Set as default</localize>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-danger" href="#" data-toggle="modal" data-target="#delete-@(Model.ID)">
                <i class="fas fa-trash-alt"></i>
                <localize>Delete</localize>
            </a>
        }
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="delete-@(Model.ID)" tabindex="-1" role="dialog" aria-labelledby="deleteLabel-@(Model.ID)" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteLabel-@(Model.ID)" localize-content="true">Confirm delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <localize>Delete this culture and all relevant resources?</localize>
                <ul>
                    <li>
                        <span class="@(css)"></span> @Model.EnglishName
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" localize-att-title="Cancel">Cancel</button>
                <form method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="ID" />
                    <button type="submit" asp-page-handler="Delete" class="btn btn-danger" localize-att-title="Delete" localize-content="false"><i class="fas fa-trash-alt"></i> <localize>Delete</localize></button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Activation Modal -->
<div class="modal fade" id="activate-@(Model.ID)" tabindex="-1" role="dialog" aria-labelledby="activateLabel-@(Model.ID)" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="activateLabel-@(Model.ID)" localize-content="true">@act Culture </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <localize>@act this culture?</localize>
                <ul>
                    <li>
                        <span class="@(css)"></span> @Model.EnglishName
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" localize-content="true">Cancel</button>
                <form method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="ID" />
                    <button type="submit" asp-page-handler="Activate" class="btn btn-primary" localize-content="true">@act</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Set Default Modal -->
<div class="modal fade" id="setDefault-@(Model.ID)" tabindex="-1" role="dialog" aria-labelledby="setDefaultLabel-@(Model.ID)" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="setDefaultLabel-@(Model.ID)" localize-content="true">Set as default</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <localize>Set below culture as default culture? (it will be anabled as well)</localize>
                <ul>
                    <li>
                        <span class="@(css)"></span> @Model.EnglishName
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" localize-content="true">Cancel</button>
                <form method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="ID" />
                    <button type="submit" asp-page-handler="SetDefault" class="btn btn-primary" localize-content="true">Ok</button>
                </form>
            </div>
        </div>
    </div>
</div>